html {

	/* Thank you: http://www.colorzilla.com/gradient-editor/ */
	font-family: open sans, helvetica, arial, sans-serif;
	font-size: 18px;

	color: #a44654;
	background: radial-gradient(center, ellipse cover, #ffffff 0%,#fffceb 100%);
	-webkit-font-smoothing: antialiased;
}
.bespoke-slide {
	margin-top: 0;
	top: 0;
	align-items: stretch;
	padding: 20px 40px;
	/* border: 1px solid; */
}
.bespoke-scale-parent {
	/* Needed after above changes for FF */
	position: static;
}
.bespoke-slide-center h1 {
	text-align: center;
	margin-top: 15%;
}
h1.h0 {
	font-size: 112px;
	text-align: center;
	margin-bottom: 12px;
}
h1, h2, p.footer {
	/* text-shadow: -1px -1px 2px rgba(0, 40, 97, 0.5); */
}
article.bespoke-parent.green {
	background: #3b3b3b;
}
article.bespoke-parent.white {
	background: #fff;
}
.bespoke-progress-bar {
	background: #00c284;
}
h2, h3 {
	color: #3b3b3b;
}
a, a.black, a:link {
	color: rgba(29, 110, 160, 0.7);
}
a:link:hover {
	color: rgba(29, 110, 160, 1);
}

p a {
	text-shadow: none;
}
p, ul, ol, td, th {
	color: #3b3b3b;
}
p.img { text-align: center; margin-bottom: 0; }
code .code-error, code .code-error .hljs-keyword { color: red; }
img.diagram {
	background: rgba(255, 255, 255, 0.5);
	padding: 40px;
}
div.content.serialize h1 {
	position: relative;
}
div.content.serialize h1 img {
	position: absolute;
	opacity: 0.1;
	width: 500px;
	top: -200px;
}
div.content.serialize h2 {
	position: relative;
}
div.content.serialize h2 img {
	position: absolute;
	opacity: 0.1;
	width: 300px;
	top: -105px;
	margin-left: 30px;
}
div.content.serialize h1 + h2 {
	margin: 120px 0;
}
h1 {
	font-size: 72px;
	margin-bottom: 12px;
	text-align: left;
}
h1 code {
	font-size: 0.75em;
	letter-spacing: -0.04em;
}
h2 {
	font-size: 48px;
	margin-bottom: 28px;
	font-weight: normal;
	text-align: left;
}
h2 code {
	font-size: 42px;
}
h3 {
	font-size: 28px;
	margin-bottom: 20px;
	font-weight: bold;
	text-align: left;
}
span.crash, span.crash * { color: red; }
span.warning, span.warning * { color: yellow; }
aside span.crash { color: rgb(211, 121, 121); }
pre {
	padding: 0 !important;
	margin: 0 0 20px 0;
}
p.warning { color: rgb(224, 136, 136); }
hr {
	height: 3px;
	border: 0;
	margin: 0 0 20px;
	background: rgba(23, 67, 100, 0.1);
}
p, ul, ol, table {
	margin:  0 0 20px 0;
	text-align: left;
	/* text-shadow: -1px -1px 2px rgba(0, 0, 0,0.5); */
	font-size: 24px;
}
p.tight, ul.tight, ol.tight, table.tight, pre.tight {
	margin:  0 0 10px 0;
}
table td, table th {
	text-align: left;
}
table {
	border-collapse: collapse;
}
table td, table th {
	padding: 10px;
	border: 2px solid rgba(0, 0, 0, 0.1);;
}
table th {
	background: rgba(0, 0, 0, 0.1);
}
input, button {
	font-size: 24px;
	padding: 5px 10px;
}
input[type=submit] {
	font-size: 34px;
}
ul > li, ol > li {
	font-size: 26px;
	margin: 0 25px 10px;
	padding: 0;
}
ul > li {
	list-style-type: disc;
}
li a img {
	vertical-align: middle;
	margin-right: 20px;
}
ul p, ol p {
	margin: 0 0 5px;
}
ul.tight p, ol.tight p {
	margin: 0;
}
ul p + pre, ol p + pre {
	margin-top: 15px;
}
p.note { font-style: italic; }
p.larger { font-size: 44px; }
p.lone, p.links { text-align: center;}
p.lone { line-height: 40px; }
p.links a { display: inline-block; }
p.links img { vertical-align: middle; }
pre code.hljs {
	background: rgba(255, 255, 255, 0.97);
	border-radius: 4px;
	padding-top: 0.2em;
	padding-bottom: 0.5em;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	color: #000;
}

blockquote {
	max-width: 75%;
}
small {
	font-size: 50%;
}

aside {
	font-style: italic;
	font-size: 1.5em;
	text-align: left;
}
p.footer {
	font-size: 22px;
	text-align: center;
	margin-top: 80px;
	padding-left: 100px;
}

a, a:link {
	text-decoration: none;

	transition:         0.3s;

	border-radius: 4px;

	padding: 0 3px;
}

mark {
	padding: 0;
	background: rgba(255, 255, 0, 0.3);
}

div.log {
	overflow: auto;
	height: 500px;
}

/* Cover */
div#cover h2 {
	font-style: normal;
	font-size: 60px;
	text-align: right;
	padding-right: 60px;
	margin-bottom: 10px;
}
div#cover div.links {
	padding-left: 50%;
	padding-right: 60px;
}
div#cover div.links p {
	text-align: right;
	margin-bottom: 10px;

}
div#cover div.links img {
	vertical-align: middle;
}
div#cover p.links a {
	display: block;
	margin: 20px 0;
	font-size: 30px;
}
div#cover p.links + p {
	font-size: 30px;
	margin-left: 30px;
}
div#cover p.links + p img {
	margin: 0 10px;
}

.logo {
	position: relative;
}
.logo img {
	position: absolute;
	bottom: 0;
	right: 20px;
	width: 260px;
}
.logo-text {
	visibility: hidden;
}

/* Value kinds */
.value-kinds {
	border-collapse: separate;
	color: #a44654;
	margin: 0 auto;
}
.value-kinds th {
	background: none;
	border: 0;
	text-align: center;
	color: #a44654;
	font-size: 34px;
}
.value-kinds td {
	font-size: 72px;
	font-family: "nimbus-sans-condensed",sans-serif;
	font-weight: bold;
	border: 0;
	text-align: center;
	color: #a44654;
}
.value-kinds-range {
	display: block;
	width: 100%;
	height: 10px;
	margin-top: 10px;
	border: 2px solid #808080;
	border-bottom: 0;
}
#two-non-values h1 {
	font-size: 70px;
}

.operands-table {
	font-size: 16px;
}

#thank-you h2 {
	text-align: center;
}